@import 'styles/main.scss';
.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  button {
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    background-color: $bg_sub_color;
    color: white;
    border: none;
  }
}