$fontfamily: 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', arial, sans-serif;
// $nav_color: #8c8c8c;
// $nav_color_selected: #0088ff;
// $list_bordercolor: #f8f8f8;
// $text-color: #666666;
// $livebox_bgcolor: #f8f8f8;
// $livebox_bordercolor: #d9d9d9;
// $btn_bgcolor_red: #ff5252;
// $btn_bgcolor_gray: #999999;
// $btn_color: #ffffff;
// $up_color: #00b88f;
// $down_color: #ff5252;
// $livebottom_color: #a6acbd;
// $askbtn_bgcolor: #0088ff;
// $askalert_bgcolorrgba: rgba(0, 0, 0, 0.4);
// $btn_bgcolor_blue: #0088ff;
// $placehoder:#999999;

$bg_color: #fff;
$bg_sub_color: #134264;
$bg_secondary_color: #efefef;

$font_color: #0D2C43;
$font_sub_color: #6696B9;
$font_secondary_color: #4B82AB;
// $font_sub_light: #c5c5c5;
$font_light: #fff;
$font_title: #F8DDAA;
// $font_main:#0289f1;
// $font_color_red: #b51616;
// $font_color_green: #157910;
// $font_color_gray: #7a7a7a;

$primary_color: #134264;
$secondary_color: #fb943d;
// $btn_gradual_color: linear-gradient(to bottom, $secondary_color, $primary_color);
// $badge_gradual_color: linear-gradient(to top, #990A0A, #E61414);
