@import 'styles/main.scss';
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  input, button {
    font-size: 2rem;
    padding: 0.2rem;
    border: 2px solid $bg_sub_color;
    margin: 0;
    height: 50px;
  }
  button {
    background-color: $bg_sub_color;
    color: white;
  }
}